.sent-by-me {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #0c0e13;
}

.sent-by-others {
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #ffffff;
}

.sent-by-me .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.sent-by-others .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.message-content-by-me {
  padding: 12px;
  background-color: #04b17d;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.message-content-by-other {
  padding: 12px;
  background-color: #454451;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
