.header-wrapper {
  border-bottom: 1px solid #454451;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #ffffff;
}

.group-member-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #7b798f;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.room-member-list {
  position: absolute;
  padding: 6px 0;
  width: 220px;
  height: 420px;
  right: 16px;
  top: 114px;
  overflow: auto;
  border-radius: 8px;
  background-color: #454451;
  z-index: 1;
}
.room-member-list.invisible {
  visibility: hidden;
}

.chat-input-wrapper {
  height: 132px;
  width: 100%;
  border-top: 1px solid gray;
  // position: fixed;
  bottom: 0;
}
#chat-input-box {
  background-color: #26252c;
  border: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 16px;
  resize: none;
}
textarea:focus,
input:focus {
  outline: none;
  resize: none;
  overflow-y: scroll;
}

.sent-by-me {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #0c0e13;
}

.sent-by-others {
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #ffffff;
}

.sent-by-me .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.sent-by-others .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.message-content-by-me {
  padding: 12px;
  background-color: #04b17d;
  font-size: larger;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.message-content-by-other {
  padding: 12px;
  background-color: #454451;
  font-size: larger;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.emoji-wrapper {
  position: absolute;
  bottom: 178px;
}
.emoji-wrapper.invisible {
  display: none;
}
