// textarea 中的quote
.quoted-content-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  overflow: hidden;
  position: absolute;
  bottom: -40px;
  left: 12px;
  border-radius: 8px;
  // background-color: #35343e;
  .quoted-content {
    background-color: #35343e;
    border-radius: 8px;
    max-width: 60%;
    color: #7b798f;
    padding: 24px 12px;
    div {
      margin-left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .quoted-content:before {
    content: "";
    position: absolute;
    display: block;
    border-top: 24px solid #04b17d;
    width: 2px;
    // margin: -49px 0px 0px -6px;
  }
}

// 发出的msg底部的quote, 和上面的类似, 但UI上有细微差别, 算了, 再定义一遍.
// by-me, msg是我发, by-other, 他人发, 不是指quoted by me/other.
.quoted-content--below-msg-wrapper.by-me {
  right: 56px;
}
.quoted-content--below-msg-wrapper.by-others {
  left: 56px;
}
.quoted-content--below-msg-wrapper {
  display: flex;
  align-items: center;
  margin-top: 6px;
  max-width: 50%;
  height: 40px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  .quoted-content-below-msg {
    background-color: #35343e;
    border-radius: 8px;
    width: 100%;
    color: #7b798f;
    padding: 24px 12px;
    div {
      // this is the quoted text wrapping div
      font-size: small;
      margin-left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .quoted-content-below-msg:before {
    content: "";
    position: absolute;
    display: block;
    top: 8px;
    border-top: 24px solid #04b17d;
    width: 2px;
  }
}

.delete-quote-icon {
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 12px;
}

.sent-by-me {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #0c0e13;
}

.sent-by-others {
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
  width: 100%;
  padding: 8px;
  color: #ffffff;
}

.sent-by-me .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.sent-by-others .content-wrapper {
  max-width: 70%;
  // padding: 12px;
  text-align: left;
}

.message-content {
  white-space: pre-wrap;
  padding: 12px;
  font-size: larger;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.by-me {
  background-color: #04b17d;
  border-top-left-radius: 6px;
}
.by-other {
  background-color: #454451;
  border-top-right-radius: 6px;
}

.quote-wrapper {
  width: 100px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #616161;
  margin-top: 24px;
  background-color: #26252c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.quote-wrapper.invisible {
  display: none;
}
.quote-wrapper.by-me {
  margin-right: 12px;
}
.quote-wrapper.by-others {
  margin-left: 12px;
}
